.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5 .heading {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  margin-top: 0;
}

.section5 .desc {
  font-size: 21px;
  font-weight: 600;
  color: var(--gray);
  width: 43%;
  text-align: center;
  /* margin-top: 100px; */
  line-height: 1.4;
}

.section5 .highlight {
  color: var(--white);
}

.section5 .content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
