.section4 {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 120vh; */
  margin-bottom: 300px;
}

.section4 .heading {
  font-size: 21px;
  margin-bottom: 0;
  margin-top: 50px;
  font-weight: 500;
}

.section4 .subheading {
  font-size: 80px;
  font-weight: 600;
  margin-top: 0;
}
.section4 .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section4 .glowing-box {
  background: linear-gradient(145deg, #001833, #0f3d68);
  border-radius: var(--corner-radius); /* Rounded corners */

  /* Glow effect */
  box-shadow: 0 0 15px rgba(0, 144, 255, 0.6),
    /* Outer glow */ 0 0 30px rgba(0, 144, 255, 0.4),
    inset 0 0 10px rgba(0, 144, 255, 0.3); /* Inner glow */
}

.section4 .desc-img {
  width: 60%;
  height: auto;
}

.section4 .desc-img-wrapper {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  margin-left: 15%;
  margin-top: 45px;
}

.section4 .text-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
  /* max-width: 600px; */
  margin-top: 50px;
  font-size: 21px;
  padding-right: 200px;
  box-sizing: border-box;
  font-weight: 600;
  color: var(--gray);
}

.section4 .highlight {
  color: var(--white);
}
