/* SF Pro Display Regular */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* SF Pro Display Bold */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* SF Pro Display Medium */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* SF Pro Display Light Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* SF Pro Display Black Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* SF Pro Display Thin Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* SF Pro Display Semi Bold Italic */
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
}

body {
  background-color: black;
  font-family: var(--primary-font);
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

:root {
  --white: #f5f5f7;
  --gray: #86868b;
  --dark-gray: #161617;
  --accent-color: #ff0000;
  --primary-font: "SF Pro Display", sans-serif;
  --corner-radius: 28px;
}
